<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="webjars/vue/2.5.16/vue.min.js"></script>
</head>
<body>

<form id="genre" name="genre"  action="neweditgenre.html">
    <h1>Genre Info:</h1>


    <div class="row" >

        <label for="id-input">ID:</label>
        <input id="id-input" name ="id" readonly="readonly" type="text" v-show="genre.id" v-model="genre.id"/>
    </div>

    <div class="row">
        <label>Genre name:</label>
        <input id="genrename-edit" name="genrename" type="text" v-if="genre.genreName" v-model=" genre.genreName "/>
        <input id="genrename-new" name="genrename" type="text" v-else value=""/>
    </div>


    <div class="row">
        <button type="submit" onclick="f_save()">Save</button>
    </div>
</form>

</body>
<script>
    id = localStorage.getItem("genre_id");
    localStorage.clear();
    if (id) {
        fetch('/genres/'+id, {
            method: 'put',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body:  JSON.stringify({id: id})
        })
            .then(response => response.json())
            .then(genre => {
                new Vue({
                    el: '#genre'
                    , data: {
                        genre: genre
                    }
                })
            })
    } else {
        new Vue({
            el: '#genre'
            , data: {
                genre: {id:"",genreName:""}
            }
        })
    }
</script>
<script src="/genre.js"></script>
</html>
