<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<script src="webjars/vue/2.5.16/vue.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<body>

<form id="book" name="book" action="neweditbook.html">
    <h1>Book Info:</h1>

    <div class="row" >
        <label for="id-input" >ID:</label>
        <input id="id-input" name ="id" readonly="readonly" type="text" v-show="book.id" v-model="book.id"/>
    </div>

    <div class="row">
        <label>Name:</label>
        <input id="name-edit" name="name" type="text" v-if="book.name" v-model="book.name "/>
        <input id="name-new" name="name" type="text"  v-else value=""/>
        <input id="test"/>
    </div>

    <!--<input id="author_id" name="name" type="text" v-if="book.author.id" v-model="book.author.id"  hidden/>-->

    <!--<div class="row">-->
        <!--<label >Author's first name:</label>-->
        <!--<input id="author-edit" name="name" type="text" v-if="book.author.firstName" v-model="book.author.firstName"readonly="readonly"/>-->
        <!--<input id="author-new" name="name" type="text"  v-else value=""/>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div id="author123" >-->
        <!--<select>-->
            <!--<option v-for="author in authors1"  v-bind:value="author.id">-->
                <!--{{ author.firstName }}-->
            <!--</option>-->
        <!--</select>-->
        <!--&lt;!&ndash;<span v-if="selectedAuthor!==null">Выбрано: {{selectedUser.name}} - {{selectedUser.age}}</span>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<label >Author's last name:</label>-->
    <!--<input id="authorlastname-edit" name="name" type="text" v-if="book.author.firstName" v-model="book.author.lastName" readonly="readonly"/>-->
    <!--<input id="authorlastname-new" name="name" type="text"  v-else value=""/>-->
    <!--</div>-->

    <!--<input id="genre_id" name="name" type="text" v-model="book.genre.id"  hidden/>-->

    <div class="row">
        <label>Genre:</label>
        <input id="genre-edit" name="name" type="text" v-if="book.genre.genreName" v-model="book.genre.genreName" readonly="readonly"/>
        <input id="genre-new" name="name" type="text"  v-else value=""/>
    </div>

    <div class="row">
        <button type="submit" onclick="f_save()">Save</button>
    </div>
</form>

</body>
<script>

   // id = localStorage.getItem("book_id");
   // localStorage.clear();
   // if (id) {
   //     fetch('/books/'+id, {
   //         method: 'put',
   //         headers: {
   //             'Accept': 'application/json',
   //             'Content-Type': 'application/json'
   //         },
   //         body:  JSON.stringify({id: id})
   //     })
   //         .then(response => response.json())
   //         .then(book => {
   //             new Vue({
   //                 el: '#book'
   //                 , data: {
   //                     book: book
   //                 }
   //             })
   //         })
   // } else {
   //     new Vue({
   //         el: '#book'
   //         , data: {
   //             book: {id:"",name:"",author:"",genre:""}
   //         }
   //     })
   // }


</script>

<script>
    id = localStorage.getItem("book_id");
    // localStorage.clear();

    var book;
    $.ajax({
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        dataType: "json",
        accepts: {text: "application/json"},
        url: '/books/'+id,
        type: 'PUT',
        success: function(result) {
            book=result;
        }
    });

    $('#test').val(book);



    // const vl = new Vue({
    //     el: '#book'
    //     , data: {
    //         book: null
    //     },
    //     mounted() {
    //         axios.put('/books/'+id).then(response => {
    //             this.book = response.data
    //         })
    //     }
    // })
</script>
</html>
