<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="webjars/vue/2.5.16/vue.min.js"></script>
</head>
<body>
<div class="row" >
    <label for="id-input" >ID:</label>
    <input id="id-input" name ="id" readonly="readonly" type="text" v-show="author.id" v-model="author.id"/>
</div>
<form id="author" name="author" action="neweditauthor.html">
    <h1>Author Info:</h1>
    <div class="row">
        <label>First name:</label>
        <input id="firstname-edit" name="fname" type="text" v-if="author.firstName" v-model=" author.firstName "/>
        <input id="firstname-new" name="fname" type="text" v-else value=""/>
    </div>

    <div class="row">
        <label >Last name:</label>
        <input id="lastname-edit" name="lname" type="text" v-if="author.lastName"v-model=" author.lastName "/>
        <input id="lastname-new" name="lname" type="text"  v-else value=""/>
    </div>

    <div class="row">
        <button type="submit" onclick="f_save()">Save</button>
    </div>
</form>

</body>
<script>
    id = localStorage.getItem("author_id");
    localStorage.clear();
    if (id) {
        fetch('/authors/'+id, {
            method: 'put',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body:  JSON.stringify({id: id})
        })
            .then(response => response.json())
            .then(author => {
                new Vue({
                    el: '#author'
                    , data: {
                        author: author
                    }
                })
            })
    } else {
        new Vue({
            el: '#author'
            , data: {
                author: {id:"",fname:"",lname:""}
            }
        })
    }
</script>
<script src="/author.js"></script>
</html>
