<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" th:action="@{/savebookcomment}" th:method="post" action="neweditbookcomment.html">
    <h1>bookcomment Info:</h1>

    <div class="row" >
        <label for="id-input">ID:</label>
        <input id="id-input" name ="id" readonly="readonly" type="text" th:if="${bookcomment != null && bookcomment.id != null}" th:value="${bookcomment.id}"  value=""/>
        <input id="id-inpu" name ="id" readonly="readonly" type="hidden" th:unless="${bookcomment != null && bookcomment.id != null}" th:value="${0}"  value="0"/>
    </div>

    <div class="row">
        <label for="book-input">Book:</label>
        <select id="book-input" name="bookID" >
            <option disabled>Choose book</option>
            <option th:each="book : ${books}"
                    th:value="${book.getId()}"
                    th:utext="${book.getName()}"
                    th:selected="${bookcomment != null && book.getId()==bookcomment.getBook().getId()}"
                    value="Book">Book</option>
        </select>
    </div>

    <div class="row">
        <label for="bookcomment-input">First name:</label>
        <input id="bookcomment-input" name="bookcomment" type="text" th:if="${bookcomment != null && bookcomment.comment != null}" th:value="${bookcomment.comment}" value=""/>
        <input id="bookcomment-inpu" name="bookcomment" type="text" th:unless="${bookcomment != null && bookcomment.comment != null}" th:value="${null}" value=""/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
